In [1]:
import pandas as pd
import os
os.getcwd()

'/Users/rena/Desktop'

# Data wrangling

### Clinton vs. Trump

In [2]:
ClintonTrump = pd.read_csv("/Users/rena/Desktop/tweets.csv")
ClintonTrump.head()

,id,handle,text,is_retweet,original_author,time,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,is_quote_status,...,place_type,place_country_code,place_country,place_contained_within,place_attributes,place_bounding_box,source_url,truncated,entities,extended_entities
0,780925634159796224,HillaryClinton,The question in this election: Who can put the...,False,NaN,2016-09-28T00:22:34,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://studio.twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/Xr...,{'media': [{'display_url': 'pic.twitter.com/Xr...
1,780916180899037184,HillaryClinton,"Last night, Donald Trump said not paying taxes...",True,timkaine,2016-09-27T23:45:00,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/t0...,{'media': [{'display_url': 'pic.twitter.com/t0...
2,780911564857761793,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,True,POTUS,2016-09-27T23:26:40,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://about.twitter.com/products/tweetdeck,False,"{'user_mentions': [{'id_str': '1536791610', 'n...",NaN
3,780907038650068994,HillaryClinton,"If we stand together, there's nothing we can't...",False,NaN,2016-09-27T23:08:41,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://studio.twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/Q3...,{'media': [{'display_url': 'pic.twitter.com/Q3...
4,780897419462602752,HillaryClinton,Both candidates were asked about how they'd co...,False,NaN,2016-09-27T22:30:27,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://about.twitter.com/products/tweetdeck,False,"{'user_mentions': [], 'symbols': [], 'urls': [...",NaN

#### Renaming columns

In [3]:
ClintonTrump.rename(columns={'is_retweet':'retweets', 'handle':'username','text':'tweet','entities':'source'},inplace=True)

In [4]:
ClintonTrump.dtypes

id                           int64
username                    object
tweet                       object
retweets                      bool
original_author             object
time                        object
in_reply_to_screen_name     object
in_reply_to_status_id      float64
in_reply_to_user_id        float64
is_quote_status               bool
lang                        object
retweet_count                int64
favorite_count               int64
longitude                  float64
latitude                   float64
place_id                    object
place_full_name             object
place_name                  object
place_type                  object
place_country_code          object
place_country               object
place_contained_within      object
place_attributes            object
place_bounding_box          object
source_url                  object
truncated                     bool
source                      object
extended_entities           object
dtype: object

In [5]:
ClintonTrump['retweets'] = ClintonTrump['retweets'].astype(str)

#### Recoding 'retweets' column

In [6]:
def retweets (series):
    if series == "True":
        return 0
    if series == "False":
        return 1

In [7]:
ClintonTrump['retweetsR'] = ClintonTrump['retweets'].apply(retweets)

In [8]:
ClintonTrump.head()

,id,username,tweet,retweets,original_author,time,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,is_quote_status,...,place_country_code,place_country,place_contained_within,place_attributes,place_bounding_box,source_url,truncated,source,extended_entities,retweetsR
0,780925634159796224,HillaryClinton,The question in this election: Who can put the...,False,NaN,2016-09-28T00:22:34,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,https://studio.twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/Xr...,{'media': [{'display_url': 'pic.twitter.com/Xr...,1
1,780916180899037184,HillaryClinton,"Last night, Donald Trump said not paying taxes...",True,timkaine,2016-09-27T23:45:00,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,http://twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/t0...,{'media': [{'display_url': 'pic.twitter.com/t0...,0
2,780911564857761793,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,True,POTUS,2016-09-27T23:26:40,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,https://about.twitter.com/products/tweetdeck,False,"{'user_mentions': [{'id_str': '1536791610', 'n...",NaN,0
3,780907038650068994,HillaryClinton,"If we stand together, there's nothing we can't...",False,NaN,2016-09-27T23:08:41,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,https://studio.twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/Q3...,{'media': [{'display_url': 'pic.twitter.com/Q3...,1
4,780897419462602752,HillaryClinton,Both candidates were asked about how they'd co...,False,NaN,2016-09-27T22:30:27,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,https://about.twitter.com/products/tweetdeck,False,"{'user_mentions': [], 'symbols': [], 'urls': [...",NaN,1

#### Subsetting data to keep only the necessary columns

In [9]:
ClintonTrump1 = ClintonTrump[['id','username','tweet','time','source','retweetsR','retweet_count']]

In [10]:
ClintonTrump1.head()

,id,username,tweet,time,source,retweetsR,retweet_count
0,780925634159796224,HillaryClinton,The question in this election: Who can put the...,2016-09-28T00:22:34,{'media': [{'display_url': 'pic.twitter.com/Xr...,1,218
1,780916180899037184,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27T23:45:00,{'media': [{'display_url': 'pic.twitter.com/t0...,0,2445
2,780911564857761793,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,2016-09-27T23:26:40,"{'user_mentions': [{'id_str': '1536791610', 'n...",0,7834
3,780907038650068994,HillaryClinton,"If we stand together, there's nothing we can't...",2016-09-27T23:08:41,{'media': [{'display_url': 'pic.twitter.com/Q3...,1,916
4,780897419462602752,HillaryClinton,Both candidates were asked about how they'd co...,2016-09-27T22:30:27,"{'user_mentions': [], 'symbols': [], 'urls': [...",1,859

#### Splitting 'time' column

In [11]:
ClintonTrump2 = ClintonTrump1['time'].str.split('-',expand=True).rename(columns = lambda x: "date"+str(x+1))

In [12]:
ClintonTrump2.head()

  date1 date2        date3
0  2016    09  28T00:22:34
1  2016    09  27T23:45:00
2  2016    09  27T23:26:40
3  2016    09  27T23:08:41
4  2016    09  27T22:30:27

In [13]:
dateTime = ClintonTrump2['date3'].str.split('T',expand=True).rename(columns = lambda x: "time"+str(x+1))
dateTime.head()

  time1     time2
0    28  00:22:34
1    27  23:45:00
2    27  23:26:40
3    27  23:08:41
4    27  22:30:27

In [14]:
ClintonTrump3 = ClintonTrump2[['date1','date2']]

#### Adding time and date columns back to original dataframe

In [15]:
ClintonTrump4 = pd.concat([ClintonTrump1,ClintonTrump3,dateTime],axis=1)

In [16]:
ClintonTrump4.head()

,id,username,tweet,time,source,retweetsR,retweet_count,date1,date2,time1,time2
0,780925634159796224,HillaryClinton,The question in this election: Who can put the...,2016-09-28T00:22:34,{'media': [{'display_url': 'pic.twitter.com/Xr...,1,218,2016,09,28,00:22:34
1,780916180899037184,HillaryClinton,"Last night, Donald Trump said not paying taxes...",2016-09-27T23:45:00,{'media': [{'display_url': 'pic.twitter.com/t0...,0,2445,2016,09,27,23:45:00
2,780911564857761793,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,2016-09-27T23:26:40,"{'user_mentions': [{'id_str': '1536791610', 'n...",0,7834,2016,09,27,23:26:40
3,780907038650068994,HillaryClinton,"If we stand together, there's nothing we can't...",2016-09-27T23:08:41,{'media': [{'display_url': 'pic.twitter.com/Q3...,1,916,2016,09,27,23:08:41
4,780897419462602752,HillaryClinton,Both candidates were asked about how they'd co...,2016-09-27T22:30:27,"{'user_mentions': [], 'symbols': [], 'urls': [...",1,859,2016,09,27,22:30:27

#### Renaming date and time columns

In [17]:
ClintonTrump5 = ClintonTrump4.rename(columns={'date1':'year','date2':'month','time1':'date','time2':'Time'})

In [18]:
ClintonTrump5 = ClintonTrump5.drop(['time'], axis=1)

#### Final Clinton vs. Trump

In [19]:
ClintonTrump5.head()

,id,username,tweet,source,retweetsR,retweet_count,year,month,date,Time
0,780925634159796224,HillaryClinton,The question in this election: Who can put the...,{'media': [{'display_url': 'pic.twitter.com/Xr...,1,218,2016,09,28,00:22:34
1,780916180899037184,HillaryClinton,"Last night, Donald Trump said not paying taxes...",{'media': [{'display_url': 'pic.twitter.com/t0...,0,2445,2016,09,27,23:45:00
2,780911564857761793,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,"{'user_mentions': [{'id_str': '1536791610', 'n...",0,7834,2016,09,27,23:26:40
3,780907038650068994,HillaryClinton,"If we stand together, there's nothing we can't...",{'media': [{'display_url': 'pic.twitter.com/Q3...,1,916,2016,09,27,23:08:41
4,780897419462602752,HillaryClinton,Both candidates were asked about how they'd co...,"{'user_mentions': [], 'symbols': [], 'urls': [...",1,859,2016,09,27,22:30:27

### Biden

In [20]:
Biden = pd.read_csv("/Users/rena/Desktop/JoeBidenTweets.csv")
Biden.head()

,id,username,timestamp,link,tweet,retweets,likes
0,1300583900503183360,JoeBiden,2020-08-31 23:59,https://twitter.com/JoeBiden/status/1300583900...,Donald Trump looks at this violence and sees a...,6551,23058
1,1300576603295158272,JoeBiden,2020-08-31 23:30,https://twitter.com/JoeBiden/status/1300576603...,"Folks, we're just hours away from our first en...",1863,6348
2,1300569556382085120,JoeBiden,2020-08-31 23:02,https://twitter.com/JoeBiden/status/1300569556...,The truth is Donald Trump can't stop the viole...,14189,56220
3,1300559741220016128,JoeBiden,2020-08-31 22:23,https://twitter.com/JoeBiden/status/1300559741...,Anyone who met Amari will tell you that he was...,2158,11484
4,1300500098233839616,JoeBiden,2020-08-31 18:26,https://twitter.com/JoeBiden/status/1300500098...,More cops have died from COVID this year than ...,38212,164059

#### Splitting 'timestamp' column

In [21]:
Biden1 = Biden['timestamp'].str.split('-',expand=True).rename(columns = lambda x: "date"+str(x+1))

In [22]:
Biden1.head()

  date1 date2     date3
0  2020    08  31 23:59
1  2020    08  31 23:30
2  2020    08  31 23:02
3  2020    08  31 22:23
4  2020    08  31 18:26

In [23]:
Biden2 = Biden1['date3'].str.split(' ',expand=True).rename(columns = lambda x: "time"+str(x+1))

In [24]:
Biden2.head()

  time1  time2
0    31  23:59
1    31  23:30
2    31  23:02
3    31  22:23
4    31  18:26

In [25]:
Biden3 = Biden1[['date1','date2']]

#### Adding time and date columns back to original dataframe

In [26]:
Biden4 = pd.concat([Biden,Biden3,Biden2],axis=1)

In [27]:
Biden4.head()

,id,username,timestamp,link,tweet,retweets,likes,date1,date2,time1,time2
0,1300583900503183360,JoeBiden,2020-08-31 23:59,https://twitter.com/JoeBiden/status/1300583900...,Donald Trump looks at this violence and sees a...,6551,23058,2020,08,31,23:59
1,1300576603295158272,JoeBiden,2020-08-31 23:30,https://twitter.com/JoeBiden/status/1300576603...,"Folks, we're just hours away from our first en...",1863,6348,2020,08,31,23:30
2,1300569556382085120,JoeBiden,2020-08-31 23:02,https://twitter.com/JoeBiden/status/1300569556...,The truth is Donald Trump can't stop the viole...,14189,56220,2020,08,31,23:02
3,1300559741220016128,JoeBiden,2020-08-31 22:23,https://twitter.com/JoeBiden/status/1300559741...,Anyone who met Amari will tell you that he was...,2158,11484,2020,08,31,22:23
4,1300500098233839616,JoeBiden,2020-08-31 18:26,https://twitter.com/JoeBiden/status/1300500098...,More cops have died from COVID this year than ...,38212,164059,2020,08,31,18:26

#### Renaming columns and dropping unneeded columns

In [28]:
Biden5 = Biden4.rename(columns={'date1':'year','date2':'month','time1':'date','time2':'Time','link':'source'})

In [29]:
Biden5 = Biden5.drop(columns=['timestamp','likes'])

#### Duplicating 'retweets' column data into new column

In [30]:
Biden5['retweet_count'] = Biden5['retweets']

#### Recoding 'retweets' column

In [31]:
def Retweets (series):
    if series > 0:
        return 0
Biden5['retweetsR'] = Biden5['retweets'].apply(Retweets)

In [32]:
Biden5 = Biden5.drop(columns=['retweets'])

#### Final version of Biden dataset

In [33]:
Biden5.head()

,id,username,source,tweet,year,month,date,Time,retweet_count,retweetsR
0,1300583900503183360,JoeBiden,https://twitter.com/JoeBiden/status/1300583900...,Donald Trump looks at this violence and sees a...,2020,08,31,23:59,6551,0
1,1300576603295158272,JoeBiden,https://twitter.com/JoeBiden/status/1300576603...,"Folks, we're just hours away from our first en...",2020,08,31,23:30,1863,0
2,1300569556382085120,JoeBiden,https://twitter.com/JoeBiden/status/1300569556...,The truth is Donald Trump can't stop the viole...,2020,08,31,23:02,14189,0
3,1300559741220016128,JoeBiden,https://twitter.com/JoeBiden/status/1300559741...,Anyone who met Amari will tell you that he was...,2020,08,31,22:23,2158,0
4,1300500098233839616,JoeBiden,https://twitter.com/JoeBiden/status/1300500098...,More cops have died from COVID this year than ...,2020,08,31,18:26,38212,0

### Appending the dataframes

In [34]:
AllTweets = pd.concat([Biden5, ClintonTrump5], ignore_index=True)

In [35]:
AllTweets.head()

,id,username,source,tweet,year,month,date,Time,retweet_count,retweetsR
0,1300583900503183360,JoeBiden,https://twitter.com/JoeBiden/status/1300583900...,Donald Trump looks at this violence and sees a...,2020,08,31,23:59,6551,0
1,1300576603295158272,JoeBiden,https://twitter.com/JoeBiden/status/1300576603...,"Folks, we're just hours away from our first en...",2020,08,31,23:30,1863,0
2,1300569556382085120,JoeBiden,https://twitter.com/JoeBiden/status/1300569556...,The truth is Donald Trump can't stop the viole...,2020,08,31,23:02,14189,0
3,1300559741220016128,JoeBiden,https://twitter.com/JoeBiden/status/1300559741...,Anyone who met Amari will tell you that he was...,2020,08,31,22:23,2158,0
4,1300500098233839616,JoeBiden,https://twitter.com/JoeBiden/status/1300500098...,More cops have died from COVID this year than ...,2020,08,31,18:26,38212,0

In [36]:
# Pickle AllTweets

AllTweets.to_pickle("AllTweets.pkl")

# Text wrangling

### Data cleaning the 'tweets' column in each dataframe

#### Includes:
- Making the text all lower case
- Removing punctuation
- Removing numerical values
- Removing common non-sensical text (/n)
- Tokenizing the text
- Removing stop words

## Biden

In [37]:
from bs4 import BeautifulSoup
import nltk
from nltk.tokenize import RegexpTokenizer
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np

#### Convert tweets from objects into strings

In [38]:
Biden5.dtypes

id                int64
username         object
source           object
tweet            object
year             object
month            object
date             object
Time             object
retweet_count     int64
retweetsR         int64
dtype: object

In [39]:
Biden5['tweet'] = Biden5['tweet'].astype('str')

In [40]:
# Isolate the tweets from the rest of the dataset

BidenTweets = Biden5[['tweet']]
BidenTweets.head()

                                               tweet
0  Donald Trump looks at this violence and sees a...
1  Folks, we're just hours away from our first en...
2  The truth is Donald Trump can't stop the viole...
3  Anyone who met Amari will tell you that he was...
4  More cops have died from COVID this year than ...

In [41]:
import re
import string

def clean_text1 (text): 
    '''Make text lowercase, remove text in brackets, remove symbols and punctuation, remove words with numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\@]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text1(x)

In [42]:
Biden_clean = BidenTweets['tweet'].apply(round1)
Biden_clean

0       donald trump looks at this violence and sees a...
1       folks were just hours away from our first endo...
2       the truth is donald trump cant stop the violen...
3       anyone who met amari will tell you that he was...
4       more cops have died from covid this year than ...
                              ...
5233    i’m for the buffett rule because it just makes...
5234    in nh on  the vice president will give his tak...
5235    news for you this morning vp biden will speak ...
5236    campaign staff will run this account to keep y...
5237    were excited to announce that  joebiden is bei...
Name: tweet, Length: 5238, dtype: object

In [43]:
def clean_text2(text):
    '''Remove punctuation and unnecessary text that was missed in the first clean.'''
    text = re.sub('[‘’“”…]', '', text)
    text = re.sub('\n', '', text)
    return text

round2 = lambda x: clean_text2(x)

In [44]:
Biden_clean1 = Biden_clean.apply(round2)
Biden_clean1

0       donald trump looks at this violence and sees a...
1       folks were just hours away from our first endo...
2       the truth is donald trump cant stop the violen...
3       anyone who met amari will tell you that he was...
4       more cops have died from covid this year than ...
                              ...
5233    im for the buffett rule because it just makes ...
5234    in nh on  the vice president will give his tak...
5235    news for you this morning vp biden will speak ...
5236    campaign staff will run this account to keep y...
5237    were excited to announce that  joebiden is bei...
Name: tweet, Length: 5238, dtype: object

### Create Document-Term Matrix 

#### Tokenize text and remove stop words

In [45]:
import pickle 
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
Biden_cv = cv.fit_transform(Biden_clean1)

In [46]:
Biden_dtm = pd.DataFrame(Biden_cv.toarray(), columns=cv.get_feature_names())
Biden_dtm.index = Biden_clean1.index

#### Pickle the document-term matrix, the cleaned data, and the CountVectorizer object

In [47]:
Biden_dtm.to_pickle("Biden_dtm.pkl")
Biden_clean1.to_pickle("Biden.pkl")
pickle.dump(cv, open("cv.pkl", "wb"))

## Clinton

### Data wrangling

In [48]:
# Separate Clinton data from Trump's in the Clinton vs. Trump dataframe

OnlyClinton = ClintonTrump5['username']=='HillaryClinton'
OnlyClinton.head()

0    True
1    True
2    True
3    True
4    True
Name: username, dtype: bool

In [49]:
Clinton = ClintonTrump5[OnlyClinton]
Clinton

,id,username,tweet,source,retweetsR,retweet_count,year,month,date,Time
0,780925634159796224,HillaryClinton,The question in this election: Who can put the...,{'media': [{'display_url': 'pic.twitter.com/Xr...,1,218,2016,09,28,00:22:34
1,780916180899037184,HillaryClinton,"Last night, Donald Trump said not paying taxes...",{'media': [{'display_url': 'pic.twitter.com/t0...,0,2445,2016,09,27,23:45:00
2,780911564857761793,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,"{'user_mentions': [{'id_str': '1536791610', 'n...",0,7834,2016,09,27,23:26:40
3,780907038650068994,HillaryClinton,"If we stand together, there's nothing we can't...",{'media': [{'display_url': 'pic.twitter.com/Q3...,1,916,2016,09,27,23:08:41
4,780897419462602752,HillaryClinton,Both candidates were asked about how they'd co...,"{'user_mentions': [], 'symbols': [], 'urls': [...",1,859,2016,09,27,22:30:27
...,...,...,...,...,...,...,...,...,...,...
4913,721765314720100352,HillaryClinton,"A great day in East Harlem, in photos. https:/...",{'media': [{'display_url': 'pic.twitter.com/jc...,1,837,2016,04,17,18:20:35
4914,721761955472650240,HillaryClinton,Meet three of the kids covered by the Children...,{'user_mentions': [{'id_str': '702147673651027...,0,540,2016,04,17,18:07:14
4915,721739927428403200,HillaryClinton,"Your Sunday afternoon read: ""In a word, Clinto...","{'user_mentions': [{'id_str': '3061615740', 'n...",0,599,2016,04,17,16:39:42
4916,721733846920740864,HillaryClinton,“Muchos neoyorquinos luchan por pagar la renta...,"{'user_mentions': [], 'symbols': [], 'urls': [...",1,429,2016,04,17,16:15:32
4918,721706797409689600,HillaryClinton,"“I love you, New York! Go vote!” —@Carole_King...",{'user_mentions': [{'id_str': '702147673651027...,0,955,2016,04,17,14:28:03

In [50]:
Clinton.dtypes

id                int64
username         object
tweet            object
source           object
retweetsR         int64
retweet_count     int64
year             object
month            object
date             object
Time             object
dtype: object

In [51]:
Clinton['tweet'] = Clinton['tweet'].astype('str')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
ClintonTweets = Clinton[['tweet']]
ClintonTweets.head()

                                               tweet
0  The question in this election: Who can put the...
1  Last night, Donald Trump said not paying taxes...
2  Couldn't be more proud of @HillaryClinton. Her...
3  If we stand together, there's nothing we can't...
4  Both candidates were asked about how they'd co...

### Data cleaning

In [53]:
def clean_text1 (text): 
    '''Make text lowercase, remove text in brackets, remove symbols and punctuation, remove words with numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\@]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text1(x)

In [54]:
Clinton_clean = ClintonTweets['tweet'].apply(round1)
Clinton_clean

0       the question in this election who can put the ...
1       last night donald trump said not paying taxes ...
2       couldnt be more proud of hillaryclinton her vi...
3       if we stand together theres nothing we cant do...
4       both candidates were asked about how theyd con...
                              ...
4913    a great day in east harlem in photos httpstcog...
4914    meet three of the kids covered by the children...
4915    your sunday afternoon read in a word clinton —...
4916    “muchos neoyorquinos luchan por pagar la renta...
4918          “i love you new york go vote” —caroleking\n
Name: tweet, Length: 3226, dtype: object

In [55]:
def clean_text2(text):
    '''Remove punctuation and unnecessary text that was missed in the first clean.'''
    text = re.sub('[‘’“”…—]', '', text)
    text = re.sub('\n', '', text)
    return text

round2 = lambda x: clean_text2(x)

In [56]:
Clinton_clean1 = Clinton_clean.apply(round2)
Clinton_clean1

0       the question in this election who can put the ...
1       last night donald trump said not paying taxes ...
2       couldnt be more proud of hillaryclinton her vi...
3       if we stand together theres nothing we cant do...
4       both candidates were asked about how theyd con...
                              ...
4913    a great day in east harlem in photos httpstcog...
4914    meet three of the kids covered by the children...
4915    your sunday afternoon read in a word clinton p...
4916    muchos neoyorquinos luchan por pagar la renta ...
4918               i love you new york go vote caroleking
Name: tweet, Length: 3226, dtype: object

### Create Document-Term Matrix 

#### Tokenize text and remove stop words

In [57]:
cv = CountVectorizer(stop_words='english')
Clinton_cv = cv.fit_transform(Clinton_clean1)

In [58]:
Clinton_dtm = pd.DataFrame(Clinton_cv.toarray(), columns=cv.get_feature_names())
Clinton_dtm.index = Clinton_clean1.index

#### Pickle the document-term matrix, the cleaned data, and the CountVectorizer object

In [59]:
Clinton_dtm.to_pickle("Clinton_dtm.pkl")
Clinton_clean1.to_pickle("Clinton.pkl")
pickle.dump(cv, open("cv.pkl", "wb"))

## Trump

### Data wrangling

In [60]:
OnlyTrump = ClintonTrump5['username']=='realDonaldTrump'
OnlyTrump.head()

0    False
1    False
2    False
3    False
4    False
Name: username, dtype: bool

In [61]:
Trump = ClintonTrump5[OnlyTrump]
Trump

,id,username,tweet,source,retweetsR,retweet_count,year,month,date,Time
5,780893126605037568,realDonaldTrump,Join me for a 3pm rally - tomorrow at the Mid-...,"{'user_mentions': [], 'symbols': [], 'urls': [...",1,2181,2016,09,27,22:13:24
8,780876760086880256,realDonaldTrump,"Once again, we will have a government of, by a...",{'media': [{'display_url': 'pic.twitter.com/uY...,1,4132,2016,09,27,21:08:22
11,780867418012979204,realDonaldTrump,"On National #VoterRegistrationDay, make sure y...","{'user_mentions': [{'id_str': '11134252', 'nam...",0,2953,2016,09,27,20:31:14
12,780863218646474757,realDonaldTrump,Hillary Clinton's Campaign Continues To Make F...,"{'user_mentions': [], 'symbols': [], 'urls': [...",1,3833,2016,09,27,20:14:33
13,780861171238834176,realDonaldTrump,"'CNBC, Time magazine online polls say Donald T...","{'user_mentions': [{'id_str': '14662354', 'nam...",1,4236,2016,09,27,20:06:25
...,...,...,...,...,...,...,...,...,...,...
6439,684219579548041218,realDonaldTrump,"""@lilredfrmkokomo: @realDonaldTrump My Faceboo...","{'user_mentions': [{'id_str': '26122621', 'nam...",1,1110,2016,01,05,03:47:14
6440,684218836569206784,realDonaldTrump,"""@marybnall01: @realDonaldTrump watched lowell...","{'user_mentions': [{'id_str': '3477455725', 'n...",1,855,2016,01,05,03:44:17
6441,684218305100525569,realDonaldTrump,"""@ghosthunter_lol: Iowa key endorsement for @r...",{'media': [{'display_url': 'pic.twitter.com/JB...,1,2315,2016,01,05,03:42:10
6442,684217554861199360,realDonaldTrump,"""@iLoveiDevices: @EdwinRo47796972 @happyjack22...","{'user_mentions': [{'id_str': '42568997', 'nam...",1,1054,2016,01,05,03:39:11
6443,684216973815844866,realDonaldTrump,"""@SalRiccobono: @realDonaldTrump @troyconway D...","{'user_mentions': [{'id_str': '2358794621', 'n...",1,748,2016,01,05,03:36:53

In [62]:
Trump.dtypes

id                int64
username         object
tweet            object
source           object
retweetsR         int64
retweet_count     int64
year             object
month            object
date             object
Time             object
dtype: object

In [63]:
Trump['tweet'] = Trump['tweet'].astype('str')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
TrumpTweets = Trump[['tweet']]
TrumpTweets.head()

                                                tweet
5   Join me for a 3pm rally - tomorrow at the Mid-...
8   Once again, we will have a government of, by a...
11  On National #VoterRegistrationDay, make sure y...
12  Hillary Clinton's Campaign Continues To Make F...
13  'CNBC, Time magazine online polls say Donald T...

### Data cleaning

In [65]:
def clean_text1 (text): 
    '''Make text lowercase, remove text in brackets, remove symbols and punctuation, remove words with numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\@]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text1(x)

In [66]:
Trump_clean = TrumpTweets['tweet'].apply(round1)
Trump_clean

5       join me for a  rally  tomorrow at the midameri...
8       once again we will have a government of by and...
11      on national voterregistrationday make sure you...
12      hillary clintons campaign continues to make fa...
13      cnbc time magazine online polls say donald tru...
                              ...
6439    lilredfrmkokomo realdonaldtrump my facebook gr...
6440     realdonaldtrump watched lowell mass speech aw...
6441    ghosthunterlol iowa key endorsement for realdo...
6442    iloveidevices   foxnews krauthammer  minimizin...
6443    salriccobono realdonaldtrump troyconway donald...
Name: tweet, Length: 3218, dtype: object

In [67]:
def clean_text2(text):
    '''Remove punctuation and unnecessary text that was missed in the first clean.'''
    text = re.sub('[‘’“”…—]', '', text)
    text = re.sub('\n', '', text)
    return text

round2 = lambda x: clean_text2(x)

In [68]:
Trump_clean1 = Trump_clean.apply(round2)
Trump_clean1

5       join me for a  rally  tomorrow at the midameri...
8       once again we will have a government of by and...
11      on national voterregistrationday make sure you...
12      hillary clintons campaign continues to make fa...
13      cnbc time magazine online polls say donald tru...
                              ...
6439    lilredfrmkokomo realdonaldtrump my facebook gr...
6440     realdonaldtrump watched lowell mass speech aw...
6441    ghosthunterlol iowa key endorsement for realdo...
6442    iloveidevices   foxnews krauthammer  minimizin...
6443    salriccobono realdonaldtrump troyconway donald...
Name: tweet, Length: 3218, dtype: object

### Create Document-Term Matrix 

#### Tokenize text and remove stop words

In [69]:
cv = CountVectorizer(stop_words='english')
Trump_cv = cv.fit_transform(Trump_clean1)

In [70]:
Trump_dtm = pd.DataFrame(Trump_cv.toarray(), columns=cv.get_feature_names())
Trump_dtm.index = Trump_clean1.index

#### Pickle the document-term matrix, the cleaned data, and the CountVectorizer object

In [71]:
Trump_dtm.to_pickle("Trump_dtm.pkl")
Trump_clean1.to_pickle("Trump.pkl")
pickle.dump(cv, open("cv.pkl", "wb"))